*{margin:0;padding:0;}
.section,.widget,.widget-content,.widget ul,.widget li,body,h1,h2,h3,h4,h5,ul,li,a,p,span,img,dd{margin:0;padding:0;list-style:none;text-decoration:none;border:none;outline:none}
body#layout #main-products,body#layout #special-items {padding:0}
.post-share-buttons{margin:20px 0 0}
body{background-color:#FFF;font-family:'Droid Sans',Arial,Verdana,sans-serif;font-size:12px;line-height:20px}
a {color:#434343}
a:hover {color:#7CB7B5}
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
p {line-height: 24px;padding-bottom: 10px;}
#color-stripes{background:url(https://lh4.googleusercontent.com/-r9O2AaSvgKw/UjFfR2XrzYI/AAAAAAAACz0/XkShhR2JVQs/s588/color-stripes.png) repeat-x scroll 0 0 transparent;border-bottom:1px solid #FFF;height:4px}
.container{margin:0 auto;position:relative;text-align:left;width:100%;}
#header-wrapper{repeat-x scroll 0 0 transparent;}
#header{ float: left; margin-bottom: 18px; width: 100%;}
#header,#header a { color: #848968 }
#header h1 {line-height:43px;font-size: 43px; font-weight: normal; font-family: 'Cookie', cursive;}
#header img {width: 100px; height: 50px;}
#header .descriptionwrapper{color:#000;background:url(https://lh3.googleusercontent.com/-6F_m49C5AkM/UjFfd9bKxlI/AAAAAAAAC3s/qJIETtYBQqg/s28/slogan-bg.png) no-repeat scroll 0 7px transparent;color:#000;font-family:Georgia,serif;font-size:12px;font-style:italic;padding-left:13px;padding-top:9px;margin-left:15px}
.header img {margin: auto; right: 60%;}
.titlewrapper,.descriptionwrapper{display:inline-block}
#search-form{float:right;background:url(https://lh5.googleusercontent.com/--rw94CqkMfU/UjFfbAIn44I/AAAAAAAAC24/MMVTFyh4AAk/s127/search-bg.png) no-repeat;width:127px;height:26px;margin-top:7px}
#search-form #searchinput{background:none;border:none;float:left;margin:4px 7px 0 4px;width:84px;padding-left:9px;font-size:11px;color:#b5b5b5;font-family:Georgia,serif;text-shadow:1px 1px 1px #fff;font-style:italic}
#search-form #searchsubmit{margin-top:8px;margin-right:10px;float:right}
.nav ul{position:absolute;top:-999em;background-position:bottom;background-repeat:no-repeat;z-index:10;font-family:&quot;Arial Black&quot;}
.nav li{float:left;position:relative}
.nav a{display:block;float:left}
.nav li:hover ul,ul.nav li.sfHover ul{left:0;top:50px}
.nav li:hover li ul,.nav li.sfHover li ul{top:-999em}
.nav li li:hover ul,ul.nav li li.sfHover ul{left:192px;top:0}
.nav li:hover ul,.nav li li:hover ul{top:-999em}
.nav li li{display:block;padding:0;float:left;height:auto !important}
.nav li ul{width:191px;z-index:1000}
.nav li li a:link,.nav li li a:visited{display:block;height:auto;float:left}
.nav li:hover{visibility:inherit;}
#top-area{background:#8ed0ce url(https://lh3.googleusercontent.com/-1MH2svNkafk/UjFfQKMBh1I/AAAAAAAACzM/rxuwW2yPXVo/s8/area-bg.png)}
#top-area-bg{background:url(https://lh4.googleusercontent.com/-lqX67YeJIf8/UjFfeEGy9hI/AAAAAAAAC34/OSUEnk_J8Sg/s9/top-area-bg.png) repeat-x}
#bottom-area-bg{background:url(https://lh5.googleusercontent.com/-lE6S4nzc8rE/UjFfQ1lYHsI/AAAAAAAACzc/AMW7Xh-0akE/s9/bottom-area-bg.png) repeat-x bottom left}
#category-inner{padding:30px 0 20px;font-family:'Kreon',Arial,sans-serif}
h1.category-title{color:#577a79;font-size:33px;text-shadow:1px 1px 0 rgba(255,255,255,0.4)}
#category-inner p.description,#category-inner p.meta-info{font-size:18px;color:#000;text-shadow:1px 1px 0 rgba(0,0,0,0.2)}
#category-inner p.meta-info a{color:#fff}
#comments h4,h3.offer-title,h3#comments,h3#reply-title{background:url(https://lh5.googleusercontent.com/-FdkcPVrlS8E/UjFfYzCsrdI/AAAAAAAAC2I/ZIwQ9u2IShI/s350/offer-title-bg.png) no-repeat right bottom;color:#434343;display:block;font-size:14px;text-transform:uppercase;text-shadow:1px 1px 1px #fff;padding-right:6px;text-decoration:none;height:43px;line-height:41px;position:absolute;padding-bottom:0}
#comments {}
#comments h3 {margin-bottom:15px;font-size:18px;}
.comment_avatar_wrap{width:42px;height:42px;border: 1px solid #C4C4C4;border-top-color: #E4E4E4;border-left-color: #E4E4E4;background:#fcfcfc;padding:4px;border-radius: 2px;text-align:center;margin-bottom:20px;}
#comments .avatar-image-container {float: left;margin: 0 10px 0 0;width: 42px;height: 42px;max-width:42px;max-height:42px;padding: 0;margin-bottom:10px;}
#comments .avatar-image-container img {width: 42px;height: 42px;max-width: 42px;max-height: 42px;background:url(http://2.bp.blogspot.com/-fjaZBtfvzac/UN1mw2tUamI/AAAAAAAADkc/XdKqt8hWZ6w/s1600/anon.jpg) no-repeat;}
.comment_name a {font-weight: bold;padding: 5px 0 0 0;font-size: 13px;text-decoration: none;}
.comment_admin .comment_name  {font-weight: bold;padding: 10px;font-size: 13px;text-decoration: none;background:#eee;}
.comment_admin .comment_date  {font-weight: normal;font-size:11px;}
.comment_name {background:#eee;padding:10px;font-size:13px;font-weight:bold;position:relative;}
.comment_service{margin-top:5px}
.comment_date {color: #a9a9a9;float:right;font-size:11px;font-weight:normal;margin-top:-3px;}
.comment_date a{color: #a9a9a9;float:right;font-size:11px;font-weight:normal;}
.comment_date a:hover{color: #a9a9a9;text-decoration:none;}
.comment_body{margin-left:66px;margin-top: -72px;background:#fcfcfc;border:1px solid #d1d1d1;padding:10px;border-radius: 2px;}
.comment_body p {line-height: 1.5em;margin: 5px 0 0 0;color: #666;border:1px solid #eee;font-size: 13px;word-wrap:break-word;background:#fff;padding:10px;}
.comment_inner {padding-bottom: 5px;margin: 5px 0 5px 0;}
.comment_child .comment_wrap {padding-left: 7%;}
.comment_reply {display: inline-block;margin-top:8px;margin-left:-5px;padding: 1px 12px;color: #fff !important;text-align: center;text-decoration: none;border-radius: 2px;background: #bababa;font: 11px/18px sans-serif;transition: background-color 1s ease-out 0s;}
.comment_reply:hover {text-decoration: none !important;;background: #056b95;}
.unneeded-paging-control {display: none;}
.comment-form {max-width: 100%;!important;}
#comment-editor {width:103%!important;background:transparent url('data:image/gif;base64,R0lGODlhKwALAPAAAKrD2AAAACH5BAEKAAEAIf4VTWFkZSBieSBBamF4TG9hZC5pbmZvACH/C05FVFNDQVBFMi4wAwEAAAAsAAAAACsACwAAAjIMjhjLltnYg/PFChveVvPLheA2hlhZoWYnfd6avqcMZy1J14fKLvrEs/k+uCAgMkwVAAAh+QQBCgACACwAAAAAKwALAIFPg6+qw9gAAAAAAAACPRSOKMsSD2FjsZqEwax885hh3veMZJiYn8qhSkNKcBy4B2vNsa3pJA6yAWUUGm9Y8n2Oyk7T4posYlLHrwAAIfkEAQoAAgAsAAAAACsACwCBT4OvqsPYAAAAAAAAAj1UjijLAg9hY6maalvcb+IPBhO3eeF5jKTUoKi6AqYLwutMYzaJ58nO6flSmpisNcwwjEfK6fKZLGJSqK4AACH5BAEKAAIALAAAAAArAAsAgU+Dr6rD2AAAAAAAAAJAVI4oy5bZGJiUugcbfrH6uWVMqDSfRx5RGnQnxa6p+wKxNpu1nY/9suORZENd7eYrSnbIRVMQvGAizhAV+hIUAAA7') no-repeat 50% 30%}}
.comment_form a {text-decoration: none;text-transform: uppercase;font-weight: bold;font-family: Arial, Helvetica, Garuda, sans-serif;font-size: 15px;}
.comment_form a:hover {text-decoration: underline;}
.comment-form p {background: #666;padding: 10px;margin: 5px 0 5px 0;color: #eee;font-size: 13px;line-height: 20px;width:97%;border-radius:3px;position:relative;}
.comment-form p:after{content:"";width:0;height:0;position:absolute;bottom:-16px;left:15px;border:8px solid transparent;border-color:#666 transparent transparent;}
.comment_reply_form {padding: 0 0 0 70px;}
.comment_reply_form .comment-form {width: 99%;}
.comment_emo_list{display:none;}
.comment_emo_list .item {float: left;text-align: center;margin: 10px 10px 0 0;height: 40px;width:41px;}
.comment_emo_list span {display: block;font-weight: bold;font-size: 11px;letter-spacing: 1px;}
.comment_youtube {max-width:100%!important;width:400px;height:225px;display:block;margin:auto}
.comment_img {max-width:100%!important;}
.deleted-comment {padding: 10px 10px 10px 10px;display: block;color: #CCC;}
.comment_arrow {display: block;width: 9px;height: 18px;background: url(http://3.bp.blogspot.com/-NONrBLhghFk/To0nNB1LmkI/AAAAAAAAAI4/CAuzDfYiCiU/s1600/comment-arrow.gif) no-repeat;position: absolute;margin-left: -19px;}
.comment_header{width:50px}
#respond {overflow: hidden;padding-left: 10px;clear: both;}
.comment_avatar img{width:42px;height:42px;background:url(http://2.bp.blogspot.com/-fjaZBtfvzac/UN1mw2tUamI/AAAAAAAADkc/XdKqt8hWZ6w/s1600/anon.jpg) no-repeat}
.comment-delete img{float:right;margin-left:15px;margin-top:3px;margin-right:10px}
.comment_author_flag {display:none}
.comment_admin .comment_author_flag {display:inline;background:url(http://4.bp.blogspot.com/-lABM2Z7_HVs/Ui_XAxhHY6I/AAAAAAAAFXc/wbQNB2SkcIQ/s1600/author.png)no-repeat;font-size:13px;font-weight:normal;padding:2px 6px;right:-23px;margin-top:-23px;color:#fff;border-radius:4px;text-transform:uppercase;position:absolute;width:36px;height:36px;}
iframe{border:none;overflow:hidden}
#comments h4 span,h3.offer-title span,h3#comments span,h3#reply-title span{background:url(https://lh5.googleusercontent.com/-FdkcPVrlS8E/UjFfYzCsrdI/AAAAAAAAC2I/ZIwQ9u2IShI/s350/offer-title-bg.png) no-repeat;display:block;padding-left:20px;height:43px;padding-right:16px}
#special-offers{font-weight:normal;position:absolute;left:43%;top:-22px}
#special-items{padding-bottom:50px;padding-left:18px;padding-top:45px}
.special-item{margin-left:5px;display:inline-block;width:19%;position:relative}
.last{margin-right:0}
.special-item .price-tag,#et-slides .price-tag{background:url(https://lh3.googleusercontent.com/-Gbb0VxaBbZA/UjFfaH9hJAI/AAAAAAAAC2o/82kV5oQfvMg/s84/price-tag.png) no-repeat;position:absolute;top:-6px;left:-18px;width:65px;height:53px;font-family:Georgia,serif;font-size:20px;color:#fff;text-shadow:1px 1px 1px rgba(0,0,0,0.2);padding-top:30px;padding-right:3px;text-align:center}
#et-slides .price-tag{z-index:100;left:123px;top:-18px}
.special-item a:hover{text-decoration:none}
.special-item .price-tag span,#et-slides .price-tag span{position:absolute;top:-1px;left:29px;font-family:Georgia,serif;font-size:12px;color:#fff;text-shadow:1px 1px 1px rgba(0,0,0,0.2)}
.special-item h4.title{font-family:Georgia,serif;font-size:16px;text-align:center;padding:12px 0}
.special-item h4.title a{font-weight:normal;text-decoration:none;color:#434343}
.special-item .et-links a{text-align:center;line-height:23px;height:23px;text-decoration:none;text-transform:uppercase;font-size:10px;color:#838383;text-shadow:1px 1px 1px #fff}
.special-item .et-links a:hover{color:#4c4b4b}
.special-item a.add-to-cart{background:url(https://lh5.googleusercontent.com/-dSN0JgB0kBE/UjFfQG5rauI/AAAAAAAACzI/eREGsWfccmI/s79/add-to-cart.png) no-repeat;float:left;width:79px}
.special-item a.more-info{background:url(https://lh6.googleusercontent.com/-uCERwNh0aTY/UjFfYC9oWjI/AAAAAAAAC1w/lVqzX4kb8VM/s72/more-info-bg.png) no-repeat;float:left;width:72px}
.special-item a.add-to-cart:hover,.special-item a.more-info:hover{background-position:bottom left}
.special-item img{display:block;margin:0 auto}
#featured{height:340px}
#slides{height:200px}
.slide{padding:5px 5px 10px 5px}
.js .slide{display:none}
.featured-image{float:left;width:380px;margin-right:57px;position:relative;}
.featured-description{width:353px;float:left;font-size:14px;color:#fff;text-shadow:1px 1px 1px rgba(0,0,0,0.1)}
.featured-description p{line-height:21px}
h2.featured-title{font-size:33px;font-family:'Kreon',Arial,sans-serif;text-shadow:1px 1px 0 rgba(255,255,255,0.4);padding-bottom:13px}
h2.featured-title a{color:#577a79}
h2.featured-title a:hover{color:#3c5958;text-decoration:none}
#featured a.readmore{float:right;display:block;padding-right:17px;background:url(https://lh6.googleusercontent.com/-JhUipI4KOt0/UjFfY-ihtsI/AAAAAAAAC2A/TwZHHshaTYk/s300/more-info.png) no-repeat bottom right;font-size:12px;color:#434343;text-shadow:none}
#featured a.readmore span{display:block;padding-left:17px;height:32px;line-height:32px;background:url(https://lh6.googleusercontent.com/-JhUipI4KOt0/UjFfY-ihtsI/AAAAAAAAC2A/TwZHHshaTYk/s300/more-info.png) no-repeat}
#featured a.readmore:hover{color:#111}
#featured a#left-arrow,#featured a#right-arrow{display:block;width:28px;height:70px;position:absolute;top:126px;text-indent:-9999px;z-index:100}
#featured a#left-arrow{background:url(https://lh3.googleusercontent.com/-LX0InVzqx2U/UjFfWJ3tRuI/AAAAAAAAC1E/pUua40Dri4U/s70/left-arrow.png) no-repeat;left:0}
#featured a#right-arrow{background:url(https://lh6.googleusercontent.com/-c5bZ7reUg80/UjFfa_5FTiI/AAAAAAAAC2s/OzEfXfmF8H0/s70/right-arrow.png) no-repeat;right:0}
#featured #controllers{text-align:center}
#featured #controllers a{display:inline-block;background:url(https://lh4.googleusercontent.com/-jXGzr9jjqV8/UjFfUmfsoGI/AAAAAAAAC0g/R635jlWphnk/s11/featured-controller.png) no-repeat;margin-right:4px;text-indent:-9999px;width:11px;height:11px}
#featured #controllers a.activeSlide{background:url(https://lh4.googleusercontent.com/-mLx8TL0Npms/UjFfUlDUGlI/AAAAAAAAC0k/b_EfABn1fLk/s11/featured-controller-active.png) no-repeat}
.featured-price{background:url(https://lh5.googleusercontent.com/-9kaJEor1LzM/UjFfaP63puI/AAAAAAAAC2Y/xL72QEAoQb4/s283/price-area.png) no-repeat;width:283px;height:85px;position:absolute;left:52px;bottom:-39px;text-shadow:1px 1px 1px rgba(0,0,0,0.2)}
.featured-price a{color:#fff;font-size:11px;text-transform:uppercase}
.featured-price a:hover{text-decoration:none;color:#ffeb7d}
.featured-price a.add_cart,.featured-price a.more_info{position:absolute;top:36px}
.featured-price a.add_cart{left:25px}
.featured-price a.more_info{left:189px}
.featured-price span.price,.featured-price span.currency_sign{color:#fff;font-family:Georgia,serif;position:absolute;display:block;text-align:center}
.featured-price span.price{font-size:19px;top:30px;left:110px;width:64px}
.featured-price span.currency_sign{color:#fff;font-size:12px;top:1px;left:133px;width:17px}

#main-content{background:url(https://lh6.googleusercontent.com/-e_2NnfhJ0hs/UjFfXBtIYEI/AAAAAAAAC1g/ZW3ruUT_i8s/s960/main-content.png) no-repeat scroll 0 0 transparent;padding-top:4px}
#main-content-bg{repeat-y scroll 692px 0 transparent}
#main-content-bottom-bg{no-repeat scroll 692px bottom transparent}
#recent-products{font-weight:normal;left:40%;position:absolute;top:-22px}
#main-products{margin-bottom:12px;padding-top:43px}
#left-area{display: inline-block;float:right;margin:0px auto;position:relative;width: 70%;}
.main-product blockquote  { margin: 1.5em; padding: 1em; color: #666666; background: #e6e6e6; font-style: italic; border: 1px solid #dcdcdc; }
.main-product{padding: 0 40px 20px 0}
.main-product h1{font-weight:normal; font-size: 24px; padding-bottom: 14px; padding-left: 2px;}
.main-product img {max-width:100%}
.main-product .price-tag{background:url(https://lh5.googleusercontent.com/-iUh6CMntzZg/UjFfaH5LrxI/AAAAAAAAC2c/mgemxQCThvY/s62/price-tag2.png) no-repeat;position:absolute;top:-6px;left:0;width:49px;height:42px;font-family:Georgia,serif;font-size:14px;color:#fff;text-shadow:1px 1px 1px rgba(0,0,0,0.2);padding-top:20px;padding-right:2px;text-align:center}
.main-product a:hover{text-decoration:none}
.main-product .price-tag span{position:absolute;top:-1px;left:21px;font-family:Georgia,serif;font-size:12px;color:#fff;text-shadow:1px 1px 1px rgba(0,0,0,0.2)}
.main-product h3{font-weight:normal;font-family:Georgia,serif;font-size:14px;text-align:center;padding-bottom:12px}
.main-product h3 a{text-decoration:none;color:#434343}
.boutique_description_border{border:1px solid #dfdfdf;position:absolute;top:1px;left:100px;-moz-box-shadow:2px 2px 4px rgba(0,0,0,0.1);-webkit-box-shadow:2px 2px 4px rgba(0,0,0,0.1);box-shadow:2px 2px 4px rgba(0,0,0,0.1);display:none;z-index:40}
.boutique_description{background:#fff url(https://lh5.googleusercontent.com/-7sg2bvAqINY/UjFfSebySSI/AAAAAAAACz8/YtH1CxSnz9U/s229/description-bg.png) repeat-x bottom left;border:1px solid #fff;width:290px;padding:20px 26px}
.boutique_description h4.description-title{margin-bottom:10px;font-weight:normal;font-size:18px;color:#434343;float:left;width:195px}
.boutique_description .price{color:#7ab5af;font-size:24px;float:right}
.boutique_description h4.description-title,.boutique_description .price{font-family:Georgia,serif}
.boutique_description_border,.boutique_description{-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px}
.post img { max-width: 100% }
.thumb{display:block;width:113px;height:96px;}
.post blockquote { font: italic 13px georgia; margin: 1em 20px;}
#sidebar-wrapper{no-repeat scroll 0 -1px transparent;display: inline-block;float:left;position:relative;margin: 0;text-align: left;}
.sidebar-wrapper{width: 30%; float: left; margin:0; text-align: left;}
.sidebar .widget{background:url(https://lh6.googleusercontent.com/-5Wu6gnYYmeM/UjFffLtgvgI/AAAAAAAAC4E/lSKybXLyVas/s273/widget-bg.png) no-repeat scroll right bottom transparent;padding:25px 25px 30px 0}
#menuSidebar1-wrapper{background:url(https://lh6.googleusercontent.com/-VQsYpCo-JKw/UjFfdJkc5yI/AAAAAAAAC3c/_cctlqK71YE/s53/sidebar-bg.png) no-repeat scroll 0 -1px transparent;float:left;position:relative;width:268px}
.menuSidebar1 .widget{background:url(https://lh6.googleusercontent.com/-5Wu6gnYYmeM/UjFffLtgvgI/AAAAAAAAC4E/lSKybXLyVas/s273/widget-bg.png) no-repeat scroll left bottom transparent;padding:23px 25px 30px 0}
.sidebar h2{font-weight:normal;color:#434343;font-family:Georgia,serif;font-size:16px;padding-bottom:20px;padding-left:20px}
.sidebar .widget-content{background:url(https://lh6.googleusercontent.com/-VQsYpCo-JKw/UjFfdJkc5yI/AAAAAAAAC3c/_cctlqK71YE/s53/sidebar-bg.png) no-repeat scroll 0 0 transparent;padding-left:30px;padding-top:25px}
.sidebar ul li{background:url(https://lh6.googleusercontent.com/-jgHWtuSEXjo/UjFfd2S1r8I/AAAAAAAAC3o/mRZTPPVs7wk/s6/sidebar-bullet.png) no-repeat scroll 0 8px transparent;display:block;padding-bottom:8px;padding-left:14px;text-shadow:1px 1px 1px #FFF}
.sidebar ul li a{color:#626262}
.sidebar ul li a:hover{color:#111}
#footer{background:#8ed0ce url(https://lh3.googleusercontent.com/-1MH2svNkafk/UjFfQKMBh1I/AAAAAAAACzM/rxuwW2yPXVo/s8/area-bg.png)}
#footer-top-bg{background:url(https://lh4.googleusercontent.com/-lqX67YeJIf8/UjFfeEGy9hI/AAAAAAAAC34/OSUEnk_J8Sg/s9/top-area-bg.png) repeat-x}
#footer-bottom-bg{background:url(https://lh5.googleusercontent.com/-lE6S4nzc8rE/UjFfQ1lYHsI/AAAAAAAACzc/AMW7Xh-0akE/s9/bottom-area-bg.png) repeat-x bottom left}
#footer-widgets{padding:56px 0 50px}
.footer-widget{width:187px;margin-right:70px;float:left;text-shadow:1px 1px 1px rgba(0,0,0,0.3)}
.last{margin-right:0}
#footer-logo{margin-bottom:-15px;margin-top:-10px}
.footer-widget{color:#fff;text-shadow:1px 1px 1px rgba(0,0,0,0.3)}
#footer h2{font-weight:normal;font-family:'Kreon',Arial,sans-serif;font-size:18px;color:#577a79;text-shadow:1px 1px 1px rgba(255,255,255,0.5);padding-bottom:15px;padding-left:0}
.footer-widget a{color:#fff}
.footer-widget a:hover{color:#eee;text-decoration:none}
.footer-widget ul{margin-bottom:8px}
.footer-widget ul ul{margin-bottom:0}
.footer-widget ul li{background:url(https://lh6.googleusercontent.com/-nasJU6qbMiM/UjFfVQ9fDuI/AAAAAAAAC0w/VDtwgWicX4E/s6/footer-bullet.png) no-repeat 0 7px;padding:0 0 7px 12px}
.footer-widget ul li ul{margin:0 0 -3px;padding:5px 0 0 7px}
#footer-bottom{padding:20px 0 17px;background:url(https://lh5.googleusercontent.com/-L8YY1n3BzF4/UjFfVQ0iDII/AAAAAAAAC00/UtTvCfSmhT0/s61/footer-bottom-bg.png) repeat-x bottom left}
ul.bottom-nav li{float:left;padding-right:20px;font-family:'Kreon',Arial,sans-serif}
ul.bottom-nav li a{color:#434343;font-size:16px;text-decoration:none}
ul.bottom-nav li a:hover{text-decoration:none;color:#7cb7b5}
ul.bottom-nav li.current_page_item a{color:#7cb7b5 !important;font-family:Georgia,serif;font-style:italic;font-size:15px}
#footer-bottom p{text-align:center;color:#434343;padding-bottom:0}
#footer-bottom a{color:#7CB7B5}
#bottom-color-stripes{background:url(https://lh4.googleusercontent.com/-wzGTbfKeV5k/UjFfRJwWvuI/AAAAAAAACzk/KUpM_4QwbZY/s588/bottom-color-stripes.png) repeat-x;height:5px;border-top:1px solid #fff}
#comments h4{left: 38%;top: -16px;}
.related-items, #comment-wrap{ position: relative; background: url(https://lh3.googleusercontent.com/-2blfAeBaY_Q/UjFfXqxzohI/AAAAAAAAC1k/qwf7yJ5joTo/s687/main-separator.png) no-repeat 4px 0; padding: 20px 40px 0 0; }
#comments .avatar-image-container img{border:0}
.comment-thread{color:#111}
.comment-thread a{color:#777}
.comment-thread ol{margin:0 0 20px}
.comment-thread .comment-content a,.comments .user a,.comments .comment-thread.inline-thread .user a{color:#7CB7B5}
.comments .avatar-image-container,.comments .avatar-image-container img{width:48px;max-width:48px;height:48px;max-height:48px}
.comments .comment-block,.comments .comments-content .comment-replies,.comments .comment-replybox-single{margin-left:60px}
.comments .comment-block,.comments .comment-thread.inline-thread .comment{border:1px solid #ddd;background:#f9f9f9;padding:10px}
.comments .comments-content .comment{margin:15px 0 0;padding:0;width:100%;line-height:1em}
.comments .comments-content .icon.blog-author{position:absolute;top:-2px;right:-2px;margin:0;background-image: url(https://lh4.googleusercontent.com/-ZCMHz2yFFAg/UjEaCQ2dPII/AAAAAAAACyo/rBypn3DZZn0/s36/author.png);width:36px;height:36px}
.comments .comments-content .inline-thread{padding:0 0 0 20px}
.comments .comments-content .comment-replies{margin-top:0}
.comments .comment-content{padding:5px 0;line-height:1.4em}
.comments .comment-thread.inline-thread{border-left:1px solid #ddd;background:transparent}
.comments .comment-thread.inline-thread .comment{width:auto}
.comments .comment-thread.inline-thread .comment:after{content:"";position:absolute;top:10px;left:-20px;border-top:1px solid #ddd;width:10px;height:0px}
.comments .comment-thread.inline-thread .comment .comment-block{border:0;background:transparent;padding:0}
.comments .comment-thread.inline-thread .comment-block{margin-left:48px}
.comments .comment-thread.inline-thread .user a{font-size:13px}
.comments .comment-thread.inline-thread .avatar-image-container,.comments .comment-thread.inline-thread .avatar-image-container img{width:36px;max-width:36px;height:36px;max-height:36px}
.comments .continue{border-top:0;width:100%}
.comments .continue a{padding:10px 0;text-align:center}
.comment .continue{display:none}
#comment-editor{width:103%!important}
.comment-form{width:100%;max-width:100%}
.comments .comments-content .loadmore,.comments .comments-content {margin:0}
.thread-expanded .blog-author { top:-12px !important; right:-12px !important }
#blog-pager-newer-link {float: left;}
#blog-pager-older-link {float: right;}
#blog-pager { margin:0; padding: 12px 60px 40px 0; text-align: center; clear:both; }
.pagenavi{position:relative;text-align:right}
.pagenavi a,.pagenavi a:link{padding:15px 10px !important;margin:2px;text-decoration:none;border:none !important;color:#434343 !important;font-weight:normal !important}
.pagenavi a:visited{padding:15px 20px !important;margin:2px;text-decoration:none;border:1px solid #e9e9e9;color:#413f36;background-color:#fff}
.pagenavi .current{color:#000;padding:15px 20px !important;margin:2px;border:none !important;background:url(https://lh3.googleusercontent.com/-e4KoiA8pP0o/UjFfZb5QtEI/AAAAAAAAC2M/SAz87Q4jP9Q/s47/pagenavi-active.png) no-repeat}
.pagenavi a:hover{color:#000 !important}
.pagenavi .pages{border:none !important;color:#434343 !important;font-family:Georgia,serif;font-size:12px;font-style:italic;margin:2px !important;padding:5px 7px !important}
.status-msg-body {position:relative !important}
.CSS_LIGHTBOX { z-index: 9999 !important; }
